<div class="container">
<h2>All Uswers</h2>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, exercitationem!</p>

<a href="/users/new" class="btn btn-info">Ask a new question</a>
</div>



<div class="container" id="questions">
{{#each users}}


<div class="jumbotron jumbotron-fluid border shadow">
    <h3><a href="/questions/{{_id}}">{{title}}</a></h3>
<div id="description">
    {{description}}
</div>
<div id="checkedTypoe">
    {{checkedTypo}}
</div>

    <div class="d-inline">
        <p>Quesiton ID: {{_id}}</p>
    </div>

    <p>Created at: {{createdAt}}</p>

</div> 
{{/each}}
</div>