<div class="text-center text-light mt-3">
    <h2>All Questions</h2>

    <div class="mt-4">
        <a href="/questions/new" class="btn btn-outline-light">Ask a new question</a>

    </div>
</div>


<div class=id="questions">
    {{#each questions}}
    <div class="my-3">
        <div class="border border-light text-center rounded shadow border-medium">
            {{!-- <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div> --}}
            <div class="card-body">
                <h4 class="card-title"><a class="text-secondary" href="/questions/{{_id}}">{{title}}</a></h4>
                <p class="card-text">{{description}}</p>
                <a href="/questions/{{_id}}" class="btn btn-outline-primary btn-sm">Answer Me!</a>
            </div>
        </div>
    </div>



    {{!-- <div class="jumbotron jumbotron-fluid border shadow">
        <h3><a href="/questions/{{_id}}">{{title}}</a></h3>
        <div id="description">
            {{description}}
        </div>
        <div id="checkedTypoe">
            {{checkedTypo}}
        </div>

        <div id="questioniddiv">
            <small class="text-muted">Quesiton ID: {{_id}}</small>
        </div>
        <div id="createdondiv">
            <small class="text-muted">Created on: {{createdAt}}</small>
        </div>



    </div> --}}
    {{/each}}
</div>