<div class="my-3">
    <div class="card bg-light text-center rounded shadow">

        <div class="card-body">
            <h4 class="card-title">{{question.title}}</h4>
            <div id="description">
                <p class="card-text">{{question.description}}</p>
            </div>

            <small class="text-muted">Quesiton ID: {{question._id}}</small>


            <small class="text-muted">Created at: {{question.createdAt}}</small>

        </div>
    </div>
</div>





<div id="checkedTypoe">
    {{question.checkedTypo}}
</div>

<div class="d-inline">
    <p>Quesiton ID: {{question._id}}</p>
</div>

<p>Created at: {{question.createdAt}}</p>


<a href="/questions/{{question._id}}/edit" class="btn btn-info"> Edit Question</a>

<a href="/questions/{{question._id}}/answers" class="btn btn-info">Answers</a>
</div>
<a href="/questions/{{question._id}}/answers/new" class="btn btn-info"> Answer Question</a>

{{#each answers}}
<div class="container bg-light mb-3 shadow-sm">
    <div id="answer">
        {{answer}}
    </div>

    <div id="createdAt">
        <small class="text-muted">{{createdAt}}</small>
    </div>

    <div id="answerid">
        <small class="text-muted">{{_id}}</small>
    </div>
    <p>
        Answer: {{_id}},
        Question: {{questionId}}
    </p>

    <form action="/questions/{{questionId}}/answers/{{_id}}?_method=DELETE" method="post">

        <input class="btn btn-outline-danger" type="submit" value="Delete Answer" />

    </form>

    <a href="/questions/{{questionId}}/answers/{{_id}}/edit" class="btn btn-info">Edit Answer</a>
</div>

{{/each}}